body{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}
.head{
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(253, 252, 250);
    padding: 10%;
}
#Mheader{
    font-size: 80px;
}
#span-1{
   color: rgb(177, 86, 86);
}
.Para-intro{
    font-size: 20px;
    color: rgb(236, 237, 246);
    margin-left: 21%;
    margin-right: 21%;
    padding-top:.2%;
    padding-bottom: 3%;
}
.linkOption{
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 25px;
    background-color:rgb(214, 94, 81);
    margin: 5%;
}
.Donation{
    margin-top: 5%;
    text-align: center;
}
#Head-2{
    font-size: 60px;
    text-align: center;
}
.Para-2{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
.DoantionAmountt{
    display: inline;
    margin: 20px;
}
.button{
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    color: black;
    background-color: rgba(215, 225, 214, 0.635);
    font-weight: 400;
    margin-left: 40px;
    margin-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid rgba(80, 255, 92, 0.538);
    border-radius: 10px;
}
.button:hover{
    background-color: rgba(80, 255, 92, 0.538);
    color: rgba(14, 17, 15, 0.538);
}
.epay{
    width: 100px;
    padding: 0px;
}
#Other{
    font-size: 35px;
    font-family: serif;
    color: rgba(10, 10, 10, 0.734);
    margin-right: 10px;
}
#OtherButton{
    text-align: center;
    color: rgb(18, 17, 17);
    font-family:serif;
    font-size: 180%;
    font-weight: 50;
    margin-bottom: 3%;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

